/* Define CSS variables so that I can reuse them within the stylesheet */
:root {
  --bg-color: #061a1e;
  --second-bg-color: #032e3a;
  --text-color: #ffffff;
  --main-color: #1dc2d8;
}

/* css for header */
.header {
  position: fixed;
  width: 100%;
  padding: 40px 12%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 1000;
  backdrop-filter: blur(20px);
}

.logo {
  font-size: 20px;
  color: var(--text-color);
  font-weight: 800;
  cursor: pointer;
  transition: 0.3s ease;
}

.logo span {
  color: var(--main-color);
}

.logo:hover {
  transform: scale(1.1);
}

.logo:hover span {
  text-shadow: 0 0 25px var(--main-color); /* when cursor on logo Dulan will be glowed */
}

.navbar a {
  font-size: 1.8rem;
  color: var(--text-color);
  margin-left: 4rem;
  font-weight: 500;
  transition: 0.3s ease, text-shadow 0.3s ease;
  border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
  color: var(--main-color);
  border-bottom: 3px solid var(--main-color);
}

/* Section */
section {
  scroll-margin-top: 60px; /* to avoid header overlapping when navigating to sections */
  min-height: 100vh;
  padding: 10rem 12%;
}








/* Home Section */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15rem;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  text-align: left;
  justify-content: center;
  margin-top: 3rem;
}
span {
  color: var(--main-color);
}


.home-content h1 {
  font-size: 4.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
  line-height: 1;
}

.home-content h1 span {
  color: var(--main-color);
}

.home-content h3 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 3.5rem;
}

.home-content p {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  max-width: 1000px;
}


.home-img img {
  position: relative;
  margin-top: 20px;
  width: 30vw;
  border-radius: 50%;
  box-shadow: 0 0 15px var(--main-color);
  cursor: pointer;
  transition: 0.4s ease-in-out;
  background: #0b2f2c27;
}

.home-img img:hover {
  box-shadow: 0 0 5px var(--main-color), 0 0 10px var(--main-color),
    0 0 20px var(--main-color);
}






.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4.5rem;
  height: 4.5rem;
  background: transparent;
  border: 2px solid var(--main-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--main-color);
  margin: 1rem;
  margin-top: 35px;
  transition: 0.3s ease-in-out;
}
.social-icons a:hover {
  color: var(--text-color);
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}
.social-icons a img {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  transition: 0.3s ease-in-out;
  filter: invert(1);
}
.social-icons a:hover img {
  filter: brightness(0);
}



/* css for contact me button */
.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: black;
  border-radius: 4rem;
  font-size: 1.6rem;
  color: white;
  border: 2px solid var(--main-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 35px;
  margin-left: 5px;
  box-shadow: 0 0 25px transparent;
}
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
  color: black;
  background-color: var(--main-color);
}
.btn-area {
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}



.text-animation {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}
.text-animation span {
  position: relative;
}
.text-animation span::before {
  content: "Web Developer";
  color: var(--main-color);
  animation: words 20s infinite;
}
.text-animation span::after {
  content: "";
  background-color: var(--bg-color);
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 3px solid var(--bg-color);
  right: -8px;
  animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid var(--main-color);
  }
}
@keyframes words {
  0%,
  20% {
    content: "Web Developer";
  }
  21%,
  40% {
    content: "UI / UX Designer";
  }
  41%,
  60% {
    content: "Web Designer";
  }
  61%,
  80% {
    content: "Software Developer";
  }
  81%,
  100% {
    content: "ML Engineer";
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}


.heading {
  font-size: 8rem;
  text-align: center;
  margin: 5rem 0;
}
.heading span {
  color: var(--main-color);
}
.education {
  padding: 100px 15px;
  background: var(--second-bg-color);
}
.education h2 {
  margin-bottom: 10px;
}
.line {
  border: 0;
  height: 2px;
  margin-bottom: 30px;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to right, var(--main-color), var(--second-bg-color));
}

.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--main-color);
  left: calc(50% - 1px);
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot {
  height: 21px;
  width: 21px;
  background-color: var(--main-color);
  box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin: 6px 0 15px;
}
.timeline-content {
  background-color: var(--bg-color);
  border: 3px solid var(--main-color);
  padding: 30px 50px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.timeline-content:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px var(--main-color);
}
.timeline-content h3 {
  font-size: 20px;
  color: white;
  margin: 0 0 10px;
  font-weight: 500;
}
.timeline-content p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}


::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
::-webkit-scrollbar-track {
  background-color: var(--bg-color);
  width: 50px;
}


.services {
  background: var(--bg-color);
  color: black;
}
.services h2 {
  margin-bottom: 5rem;
  color: white;
}
.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 2.5rem;
}
.service-box {
  background-color: var(--second-bg-color);
  color: white;
  height: 500px;
  border-radius: 3rem;
  border: 5px solid transparent;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  padding: 4vh;
  align-items: center;
}
.service-box:hover {
  background: white;
  color: black;
  border: 5px solid #0f5965;
  transform: scale(1.03);
  box-shadow: 0 0 25px var(--main-color);
}
.service-box .service-info {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-height: 200px;
  justify-content: center;
  align-items: center;
  /* padding: 5rem 4rem; */
}
.service-info h4 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 2;
}
.service-info p {
  font-size: 1.6rem;
  font-weight: 600;
  max-height: 100px;
  line-height: 1.7;
  margin: auto;
}


.websites {
  background: var(--second-bg-color);
}
.websites-box {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.websites .heading {
  margin-bottom: 5rem;
}

.websites-box img {
  width: 20rem;
  border: 2px solid var(--main-color);
  box-shadow: 0 0 15px var(--main-color);
}

.websites-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.website-item {
  min-height: 50px;
  flex: 0 0 calc(20% - 2rem);
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(238, 238, 238, 0.2);
  border-radius: 2rem;
  margin: 1rem;
  margin-bottom: 30px;
  padding: 2rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  color: white;
  transition: 0.4s ease-in-out;
}
.website-item h2 {
  color: white;
  margin-top: 2rem;
}
.website-item:hover {
  border: 3px solid var(--main-color);
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 20px var(--main-color);
}

/* css for view more button */
.view-btn {
  margin-top: 1rem;
  padding: 10px 22px;
  background-color: var(--main-color);
  color: black;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 2rem;
  text-decoration: none;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
.view-btn:hover {
  background: transparent;
  color: white;
  border: 1px solid var(--main-color);
  box-shadow: 0 0 15px var(--main-color);
  transform: translateY(-2px);
}


.testimonials {
  background: var(--bg-color);
}

.testimonials-box {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.testimonials .heading {
  margin-bottom: 5rem;
}
.testimonials-box img {
  width: 15rem;
  /* border-radius: 50%; */
  /* border: 3px solid var(--main-color); */
  /* box-shadow: 0 0 25px var(--main-color); */
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}
.testimonial-item {
  min-height: 50px;
  max-width: 450px;
  background: rgba(0, 0, 0, 0.7);
  border: 3px solid rgba(238, 238, 238, 0.2);
  border-radius: 2rem;
  margin: 0 2rem;
  padding: 30px 60px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1.5rem;
  color: white;
  transition: 0.4s ease-in-out;
}
.testimonial-item:hover {
  border: 3px solid var(--main-color);
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 0 50px var(--main-color);
}
.testimonial-item h2 {
  font-size: 2.8rem;
}
.testimonial-item p {
  font-size: 1.3rem;
}
#star {
  color: gold;
  font-size: 2rem;
}




@media (max-width: 1285px) {
  html {
    font-size: 55%;
  }
  .services-container {
    padding-bottom: 7rem;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 5rem;
  }
}
@media (max-width: 991px) {
  header {
    padding: 2rem 3%;
  }
  section {
    padding: 10rem 3% 2rem;
  }
  .testimonial-item::before {
    left: 7px;
  }
  .timeline-item:nth-child(odd) {
    padding-right: 0;
    text-align: left;
  }
  .timeline-item:nth-child(odd),
  .timeline-item:nth-child(even) {
    padding-left: 37px;
  }
  .timeline-dot {
    left: 0;
  }
  .services {
    padding-bottom: 7rem;
  }
  .testimonials .wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact form {
    flex-direction: column;
  }
  .footer {
    padding: 2rem 3%;
  }
  .timeline-items::before {
    content: "";
    position: absolute;
    left: calc(2% - 1px);
  }
  /* .websites-wrapper {
    grid-template-columns: repeat(3, 1fr);
  } */

  .website-item {
    max-width: 250px;
    padding: 20px 40px;
  }

  .websites-box img {
    width: 18rem;
  }
}
@media (max-width: 895px) {
  #menu-icon {
    display: block;
  }
  .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    width: 50%;
    padding: 1rem 3%;
    background: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(20px);
    border-bottom-left-radius: 2rem;
    border-left: 2px solid var(--main-color);
    border-bottom: 2px solid var(--main-color);
    display: none;
  }
  .navbar.active {
    display: block;
  }
  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
    color: white;
  }
  .home {
    flex-direction: column-reverse;
    margin: 0rem 4rem;
    gap: 3rem;
  }
  .home-content h3 {
    font-size: 2.8rem;
  }
  .home-content h1 {
    font-size: 4.1rem;
    margin-top: 3rem;
  }
  .home-content p {
    max-width: 600px;
    margin: 0 auto;
  }
  .home-img img {
    width: 70vw;
  }
  .services h2 {
    margin-bottom: 3rem;
  }
  .services-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .timeline-items::before {
    content: "";
    position: absolute;
    left: calc(2% - 1px);
  }
  /* .websites-wrapper {
    grid-template-columns: repeat(2, 1fr);
  } */

  .website-item {
    max-width: 1500px;
    padding: 15px 30px;
  }

  .websites-box img {
    width: 12rem;
  }
}
