/* Css for intro part */
.hero {
    min-height: 90vh; /* Viewport height */
    background:
  linear-gradient(
    to top,
    rgba(3, 46, 58,0.6) 0%,
    rgba(95, 130, 139, 0.5) 40%,
    rgba(190, 209, 214, 0.2) 70%,
    rgba(138, 182, 185, 0) 100%
  ),
  url("../images/rBG.png");

    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    color: white;
    justify-content: left;
    align-items: left;
    text-align: left;
}

.hero-content {
    max-width: 500px;
    margin-left: 40px;
}

.hero h1 {
    color: var(--second-bg-color);
    font-size: 7rem;
    margin-bottom: 1rem;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

.hero h1:hover {
    color: var(--main-color);
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 3px var(--main-color);
}

.hero h1 span {
    color: var(--main-color);
    font-size: 9rem;
    font-weight: 800;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
} 

.hero h1:hover span {
    color: var(--bg-color);
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 3px var(--main-color);
}

.hero p {
    margin: 10px 0 20px;
    line-height: 1.6;
    font-size: 1.7rem;
    color: var(--bg-color);
    font-weight: 500;
}

.hero p:hover {
    color: var(--second-bg-color);
    transition: 0.3s ease-in-out;
    text-shadow: 0 0 4px white;
}

.social-icon-container a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  background: transparent;
  border: 2px solid var(--second-bg-color);
  font-size: 2.5rem;
  border-radius: 50%;
  color: var(--bg-color);
  margin: 15px;
  margin-top: 25px;
  margin-left: 0px;
  transition: 0.3s ease-in-out;
}

.social-icon-container a:hover {
  color: var(--text-color);
  transform: scale(1.3) translateY(-5px);
  box-shadow: 0 0 25px var(--main-color);
  background-color: var(--main-color);
}

.social-icon-container a img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  transition: 0.3s ease-in-out;
}
.social-icon-container a:hover img {
  filter: brightness(0);
  filter: invert(1);
}

/* css for contact form */
.contact {
  background-color: var(--second-bg-color);
}
.contact h2 {
  margin-bottom: 3rem;
  color: white;
}
.contact form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 5rem auto;
  text-align: center;
}
.contact form .input-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.contact form .input-box input {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}
.input-group-2 {
  margin-top: -10px;
}
.contact form textarea {
  width: 100%;
  padding: 2.5rem;
  font-size: 1.8rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 2rem;
  border: 2px solid var(--main-color);
  margin: 1.5rem 0;
  resize: none;
}
.contact form .btn {
  margin-top: 2rem;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  padding: 40px 0;
  background-color: var(--bg-color);
}